<nav class="nav-container">
    <div class="nav-wrapper navbar">
    <a routerLink="/home" class="brand-logo"><img src="./assets/light-bulb.png" alt=""></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="/about">Sobre</a></li>
          <li><a routerLink="/global">Dashboard Global</a></li>
          <li *ngIf="!logged && router.url != '/login'"><a routerLink="/login">Entrar</a></li>
          <li *ngIf="logged"><a routerLink="/login">Sair</a></li>
          <li *ngIf="!logged && router.url == '/login'"><a routerLink="/register">Registrar</a></li>
          <li *ngIf="logged">
              <a routerLink="/dashboard" class="badge">
                  {{ user.username  | uppercase}}
              </a>
          </li>
        </ul>
    </div>
  </nav>
