<app-carousel></app-carousel>
  <div class="section yellow">
    <div class="row container">
      <h2 class="header">Como Funciona</h2>
      <p class="grey-text text-darken-3 lighten-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="./assets/graado-heolico.jpg"></div>
  </div>
<div class="section white">
<div class="row container">
    <h2 class="header">Top 5</h2>
   <app-top-five-users></app-top-five-users>
</div>
</div>
