<h3 class="right-align">Meu Dashboard</h3>

<hr>
<br>
<div class="row">
  <div class="col s6">
    <b>Nome: </b><span>{{user.username}}</span><br><br>
    <b>Nº de Instalação: </b><span>{{user.inscricao}}</span>
  </div>
  <div class="col s6">
    <b>Posição no Ranking:</b> <span>1º</span> 
  </div>
</div>


<div class="row">
  <div class="col s4 offset-s4">
  <div class="card red accent-1 ">
    <div class="card-content center-align ">
        <b>SAVES</b><br>
    <b>(Pontuação Acumulada)</b>
    </div>
    <div class="card-content white  center-align">
      <p>Oi</p>
    </div>
  </div>
  </div>
</div>


<div class="row">
    <div class="col s4  offset-s1">
  <div class="card green lighten-1 ">
    <div class="card-content center-align ">
        <b>ECONOMIA</b><br>
    <b>(Percentual de Economia do último mês)</b>
    </div>
    <div class="card-content white  center-align">
      <p>Oi</p>
    </div>
  </div>
  </div>

  <div class="col s4 offset-s1 ">
  <div class="card  cyan accent-3 ">
    <div class="card-content center-align ">
        <b>MÉDIA</b><br>
    <b>(Média anual dos gastos)</b>
    </div>
    <div class="card-content white  center-align">
      <p>Oi</p>
    </div>
  </div>
  </div>


</div>



