<footer class="page-footer yellow darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">SAVE</h5>
          <p class="grey-text text-lighten-4">Nós juntamente com nossos usuários, salvamos o mundo de uma maneira divertida. Já pensou em economizar energia e ganhar benefícios?
Venha fazer parte desse nosso time! SAVE ENERGY, SAVE THE PLANET!</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="http://brasil.campus-party.org/arena/thebighackathon">The Big Hackathon</a></li>
            <li><a class="grey-text text-lighten-3" href="http://brasil.campus-party.org/">Campus Party 2017</a></li>
            <li><a class="grey-text text-lighten-3" href="http://campuse.ro/">Campusero</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017 Copyright SAVE - The Big Hackathon
      </div>
    </div>
  </footer>





