<div class="container">
  <p>
  Criada durante a BigHackathon na 10ª Campus Party/SP, por estudantes com foco em encontrar soluções para o 7º objetivo de desenvolvimento sustentável (Energia Limpa e acessível).
  O Save vem com a proposta de gameficar a economia de energia, incentivando a pessoa a economizar e receber prêmios/descontos com a alta pontuação.
  Com uma interface amigável e dicas de fácil compreensão, buscamos trazer informações úteis ao usuário que trazem reais benefícios em favor da economia da energia doméstica.
  </p>
</div>
